<style>
  .terminal {
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: black;
    height: 100%;
    width: 100%;
    color: {{ terminal.color.normal }};
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: monospace;
    padding-top: 8px;
    padding-left: 8px;
  }
  .terminal-view {
    overflow-y: scroll;
  }
  .vert-bottom pre {
    margin: 0;
    padding 0;
    overflow-wrap: break-word;
  }
  .directory {
    margin-right: 15px;
    color: {{ terminal.color.directory }};
  }
  .command-line {
    height: 15px;
  }
  .terminal input {
    height: 0;
    width: 0;
    background: transparent;
    border: none;
    position: fixed;
    left: 100000px;
  }
  
  .cursor {
      color: #FFFFFF;
      font-size: 11px;
  }
  
  .blinking-cursor {
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
  }

  @keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
      color: white;
    }
  }

  @-moz-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: white;
    }
  }

  @-webkit-keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
      color: white;
    }
  }

  @-ms-keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
      color: white;
    }
  }

  @-o-keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
      color: white;
    }
  }
  
</style>


<div class="terminal">
  <div class="vert-bottom" ng-repeat="cmd in commandHistory">
    <pre>{{ cmd.prompt + cmd.command }}</pre>
    <pre ng-if="cmd.output" compile="cmd.output"></pre>
  </div>
  <div class="vert-bottom">
    <pre class="command-line">{{ prompt + command }}<span class="cursor">&#x258A;</span></pre>
  </div>
  <input type="text" ng-model="command" focus="true">
</div>